{:paths ["src"]

 :deps
 {rewrite-clj/rewrite-clj      {:mvn/version "1.1.49"}
  org.clojure/tools.deps.alpha {:mvn/version "0.14.1222"}
  com.lambdaisland/shellutils  {:mvn/version "0.3.20"}
  org.clojure/java.classpath   {:mvn/version "1.0.0"}
  com.nextjournal/beholder     {:mvn/version "1.0.2"}
  io.methvin/directory-watcher {:mvn/version "0.16.1"}}}
